:root {
  --primary-color: darkblue;
  --background-color: #6b6b6b;
}

body {
  margin: 0px;
}

.popupContainer {
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  padding: 10px;
}

.plus-icon {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  background-color: #56a7e9;
  cursor: pointer;
}
